body{
    margin: 0;
}
.searchBar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.ss2{
    border-radius: 33px;
    overflow: hidden;
    height: 44px;
    width: 559px;
    
    
    
}
.ss1{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
    
}
.ss3{
    border-radius: 33px;
    overflow: hidden;
    width: 584px;
    height: 46px;
}

.containerOne{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh; 
      
    
}
.googleMainContainer{
    display: flex;
    justify-content: center;
    
    align-items: center;
    height: 300px;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}
.twoSearchBars{
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.styleBars{
    border-radius: 33px;
}
a{
    text-decoration: none;
    margin-left: 5px;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.nav-links{
    width: 100px;
}
.advancedSearchBar{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 800px;
    gap: 15px;
    height: 300px;
    
}
.advancedSearchBarStyle{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    margin: 10px;
    width: 550px;
}
.advancedSearchBarText{
    display: flex;
    flex-direction: column;
    line-height: 8px;
}
.advancedSearchSubmitStyle{
    margin-left: 450px;
    display: flex;
    
    color: white;
    background-color: #4D90FE;
    height: 30px;
    border-radius: 5px;
    font-family: arial,sans-serif;
    width: 125px;

}
h2{
    font-size: 18px;
    font-weight: normal;
    padding-left: 50px;
}
h1{
    font-size: 22px;
    padding-left: 50px;
    font-weight: normal;
    
    padding-bottom: 20px;
}
   




